<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexionGestionPedidos.Properties.Settings.MasterDBConnectionString"
            connectionString="Data Source=DESKTOP-AVDBI52\MYSQLSERVER;Initial Catalog=MasterDB;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
        <add name="ConexionGestionPedidos.Properties.Settings.DESKTOP_AVDBI52_MYSQLSERVERConnectionString"
            connectionString="Data Source=DESKTOP-AVDBI52\MYSQLSERVER;Initial Catalog=DESKTOP-AVDBI52\MYSQLSERVER;Persist Security Info=True;User ID=sa;Password=123456789"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>